# --- your app deps ---
cloudinary==1.44.0
gspread==6.2.1
google-api-python-client==2.175.0

# --- django stack ---
Django==5.2.4
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
dj-database-url==3.0.1
python-decouple==3.8
psycopg2-binary==2.9.10

# server
gunicorn==23.0.0
whitenoise==6.9.0
